.navbar {
  border-radius: 0;
  border: none;
}
nav.navbar-findcond {
  background: var(--segunda-cor);
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--font-cor);
}
nav.navbar-findcond a { color: var(--font-cor); }
nav.navbar-findcond ul.navbar-nav a { color: var(--font-cor); }
nav.navbar-findcond ul.navbar-nav a:hover, nav.navbar-findcond ul.navbar-nav a:focus { color: var(--font-cor-destak); background-color: transparent !important; }
nav.navbar-findcond li.divider { color: #3a4651; }
nav.navbar-findcond button.navbar-toggle { background: #7e8e9f; border-radius: 2px; color: rgba(255, 255, 255, 0.5); }
nav.navbar-findcond button.navbar-toggle:hover { color: #3a4651; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 0; margin: 5px 0; padding: 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: var(--font-cor); padding: 8px 10px }
nav.navbar-findcond ul.dropdown-menu > li:hover > a { color: var(--font-cor-destak); }
.search-form input{
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  outline: none;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 0;
  color: var(--font-cor);
}
.search-form .btn {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.search-form .btn:hover {
  color: var(--font-cor-destak);
}
.list_navbar_cliente {
    position: fixed;
    margin-top: -20px;
    margin-left: -315px;
    width: 300px;
    height: calc(100% - 55px);
    z-index: 10;
    overflow-y: scroll;
    background-color: #fff;
    
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.list_navbar_cliente::-webkit-scrollbar {
    width: 5px;
}
.list_navbar_cliente::-webkit-scrollbar-track {
    background-color: var(--segunda-cor);
}
.list_navbar_cliente::-webkit-scrollbar-thumb {
    background-color: var(--terceira-cor);
}

.list_navbar_cliente .list-group-item {
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}